FRONTEND_URL=http://localhost
BACKEND_URL=http://localhost:8080
# ============================================
# Postgres
# ============================================
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=task_tracker_db

# ============================================
# JWT secret
# ============================================
JWT_SECRET=defaultSecretKeyThatIsLongEnoughAndMustBeReplaced
JWT_ISSUER_URI=http://localhost:8080
JWT_EXPIRATION_SECONDS=1800