BACKEND_API_URL=http://task-tracker-backend:8080/
# ============================================
# Postgres
# ============================================
POSTGRES_HOST=postgres
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=task_tracker_db

# ============================================
# JWT secret
# ============================================
JWT_SECRET=defaultSecretKeyThatIsLongEnoughAndMustBeReplaced
JWT_ISSUER_URI=http://localhost:8080
JWT_EXPIRATION_SECONDS=1800

# ============================================
# KAFKA
# ============================================
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC_EMAIL_SENDING=EMAIL_SENDING_TASKS
KAFKA_GROUP_EMAIL_SENDER=email-sender-group

# ============================================
# SMTP server
# ============================================
MAIL_HOST=smtp.sendgrid.net
MAIL_PORT=587
MAIL_USERNAME=fill_your_username
MAIL_PASSWORD=fill_your_password
MAIL_VERIFIED_EMAIL=your_verified_email

# ============================================
# DOCKERHUB
# ============================================
DOCKERHUB_USERNAME=your_username